.productListingPage {
    max-inline-size: 1080px;
    margin-inline: auto;
}

.productListContainer {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-auto-columns: 1fr;
}