.productListingPage {
    max-inline-size: 1080px;
    margin-inline: auto;
}

.filterBar {
    padding-inline: 1em;
    display: flex;
    justify-content: space-between;
}

.paginationBtns {
    display: flex;
    margin-block: 1em;
    justify-content: center;
}

.virtGrid {
    margin-top: 1em;
    margin-inline: auto;    
}