.productListingPage {
    max-inline-size: 1080px;
    margin-inline: auto;
}

.productListContainer {
    display: grid;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-columns: 1fr;
}

@media (max-width: 600px) {
    .productListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.filterBar {
    padding-inline: 1em;
    display: flex;
    justify-content: space-between;
}

.paginationBtns {
    display: flex;
    margin-block: 1em;
    justify-content: center;
}