.card {
    width: 250px;
    height: 300px;
}

.price {
    color: red;
    font-weight: bold;
    margin-top: 1em;
}

.price__int {
    font-size: 1.25em;
}

.cardImg {    
    height: 150px;
    object-fit: cover;
}