body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
    }
}

.app {
    width: 100%;
    background-color: #f0f0f0;
}